h1 {
	font-weight: bolder;
	color: #16a085;
	text-align: center;
	margin-top: 14rem;
	margin-bottom: 4rem;
	text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-size: 5rem;
	letter-spacing: 0.4rem;
}
.choose_option {
	width: 80vw;
	height: auto;
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.option {
	height: 45rem;
	width: 50rem;
	padding: 2rem;
	margin: 3rem 0;
	flex: 1 1;
	border: 0.2rem solid #16a085;
	box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
	border-radius: 10px;
}
.option img {
	width: 30rem;
	height: 30rem;
}
img {
	height: 100%;
	width: 100%;
}
.option p {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	padding: 2rem;
}

/* The popup form - hidden by default */
.form-popup {
	width: 45rem;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
/* Add styles to the form container */
.form-container {
	background: #ecf0f1;
	border: 0.2rem solid #16a085;
	box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
	border-radius: 5px;
	text-align: center;
	padding: 2rem;
}

.form-container .box {
	width: 100%;
	margin: 0.7rem 0;
	border-radius: 0.5rem;
	border: var(--border);
	font-size: 1.6rem;
	color: var(--black);
	text-transform: none;
	padding: 1rem;
}
.btn {
	padding: 1rem 4rem;
}
.cancel:hover {
	background-color: red;
	border-color: transparent;
}
